.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #6070ff;
  }
  
  .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #344563;
    transition: color 0.3s;
  }
  
  .nav-list li a:hover {
    color: #620bd3;
  }
  